<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Default Suite">


<!--    <test name="Facebook Login">-->
<!--        <parameter name="FbEmail" value="anujtiwari05@gmail.com"/>-->
<!--      -->
<!--        <classes>-->
<!--            <class name="com.babydestination.automation.uiActions.loginSignup" />-->
<!--        </classes>-->
<!--    </test>-->

</suite>