<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Default Suite">

    <test name="homePageTest">

        <classes>
            <class name="com.babydestination.automation.homePage.homePageTestCases"></class>
        </classes>
    </test>

    <listeners>
        <!--<listener class-name="com.babydestination.automation.customListner.Listener"></listener>-->
        <!--<listener class-name="com.babydestination.automation.customListner.RetryListener"></listener>-->
        <!--<listener class-name="com.babydestination.automation.customListner.Retry"></listener>-->
        <!--<listener class-name="com.babydestination.automation.customListner.WebEventListener"></listener>-->
        <!--<listener class-name="com.babydestination.automation.testBase.TestBase"></listener>-->
    </listeners>



</suite>